.right-contents
  .chat-header
    .chat-header__leftbox
      .chat-header__leftbox__title
        = group.name
      %ul.chat-header__leftbox__members
        %li.chat-header__leftbox__members--list Member :
        - group.users.each do |user|
          %li.chat-header__leftbox__members--list
            &nbsp;
            = user.name
    = link_to "Edit", edit_group_path(group), class: "chat-header__right-btn"
  .chat-messages
    - if @messages
      - @messages.each do |message|
        .chat-messages__info
          .chat-messages__info--user
            = message.user.name
          .chat-messages__info--date
            = message.created_at.strftime('%Y/%m/%d (%a) %X')
        .chat-messages__text
          = message.body
  .chat-form
    = form_for @message, url: group_messages_path, html: {class: "chat-form__gadgets"} do |f| 
      .chat-form__gadgets__inputs
        = f.text_field :body, placeholder: "type a message", class: "chat-form__gadgets__inputs--text-field"
        = f.label "message-image", class: "chat-form__gadgets__inputs--icon" do
          = fa_icon "image"
          = f.file_field :image, id: "message-image", class: "file-field"
      = f.submit "Send", class: "chat-form__gadgets__submit-btn"
      