.right-contents
  .chat-header
    .chat-header__leftbox
      .chat-header__leftbox__title
        = group.name
      %ul.chat-header__leftbox__members
        %li.chat-header__leftbox__members--list Member :
        - group.users.each do |user|
          %li.chat-header__leftbox__members--list
            &nbsp;
            = user.name
    = link_to "Edit", edit_group_path(group), class: "chat-header__right-btn"
  .chat-messages
    = render partial: "shared/message", collection: @messages
  .chat-form
    = form_for @new_message, url: group_messages_path, html: {class: "chat-form__gadgets"} do |f| 
      .chat-form__gadgets__inputs
        = f.text_field :body, placeholder: "type a message", class: "chat-form__gadgets__inputs--text-field"
        = f.label :image, class: "chat-form__gadgets__inputs--icon" do
          = fa_icon "image"
          = f.file_field :image, class: "file-field"
      = f.submit "Send", class: "chat-form__gadgets__submit-btn", id: "message-btn"